<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PassSave</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/solid.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body class="has-background-grey-dark">
    <section class="has-background-grey-dark">

        
        <nav class="navbar has-background-black" role="navigation" aria-label="main navigation">
            
            <div class="navbar-brand">
                <span class="is-size-3 has-text-success" style="margin-top: auto; margin-bottom:auto;margin-left:10px;margin-right:10px;"><i class="fas fa-piggy-bank"></i>
                    Pass<span class="is-size-3 has-text-white" >SAVE</span>
                </span>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarList">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>

            </div>

            <div class="navbar-menu" id="navbarList">
                <div class="navbar-start">
                    <a class="navbar-item is-hoverable has-text-weight-bold has-text-success is-size-5">
                    Home
                    </a>

                    <a class="navbar-item is-hoverable has-text-weight-bold has-text-success is-size-5">
                    Dashboard
                    </a>

                    <a class="navbar-item is-hoverable has-text-weight-bold has-text-success is-size-5">
                        How-To
                    </a>

                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {{#unless logged_in}}
                            <a class="button is-success" id="signup" href="/signup">
                            <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="/login">
                            <strong>Log in</strong>
                            </a>

                            {{/unless}}
                            {{#if logged_in}}
                            <a class="button is-light" id="logout">
                            Log Out
                            </a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            </nav>
            <aside class="menu">
            
        </aside>
    </section>



    <section class="container-fluid has-background-grey-dark" style="height:100%;width:100%;overflow: auto;"> {{{body}}}</section>

    <footer class="footer has-text-right has-background-black p-0" style="height:50px;width:100%;">
          <div class="content has-text-white is-size-7" style="margin-top:0;margin-right:5px;">
            © 2022 PassSave, All rights reserved
          </div>
    </footer>
    <script src="/js/logout.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>