<div class="columns is-mobile m-0"  style="height:100%;width:100%;overflow: auto;">
    <div class="column is-1" style="width:80px;resize: none;">
        <ul class="menu-list">
            <li title="Add Password"><a class="has-text-white is-size-4 has-text-centered" id="addPassBtn"><i class="fa-solid fa-circle-plus"></i></a></li>
            <li title="Modify Password Policy"><a class="has-text-white is-size-4 has-text-centered" style="border-top: 2px solid white; border-bottom: 2px solid white;"><i class="fa-solid fa-floppy-disk"></i></a></li>  
            <li title="Run Rainbow Test on Password"><a class="has-text-white is-size-4 has-text-centered"><i class="fa-solid fa-flask-vial"></i></a></li>
            
           <!-- <li><a class="has-text-white is-size-4 has-text-centered"><i class="fa-solid fa-file-pen"></i></a></li> -->
           <!-- <li><a class="has-text-white is-size-4 has-text-centered"><i class="fa-sharp fa-solid fa-share-nodes"></i></a></li> -->
        </ul>
    </div>
 
    <div class="column hero-body has-background-grey-lighter is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-center">
      <div class="card m-2" style="height:100px;width:400px;">
                <header class="card-header">
                <p class="card-header-title">
                    Component
                </p>
                <button class="card-header-icon" aria-label="more options" title="More Options">
                    <span class="icon">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                    </span>
                </button>
                </header>
                <footer class="card-footer">
                        <a href="#" class="card-footer-item is-size-6">Send to Clipboard</a>
                        <a href="#" class="card-footer-item">Delete</a>
                </footer>
            </div>
            <div class="card m-2" style="height:100px;width:400px;">
                <header class="card-header">
                <p class="card-header-title">
                    Component
                </p>
                <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
                </header>
                <footer class="card-footer">
                </footer>
            </div>
            <div class="card m-2" style="height:100px;width:400px;">
                <header class="card-header">
                <p class="card-header-title">
                    Component
                </p>
                <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
                </header>
                <footer class="card-footer">
                </footer>
            </div>
            <div class="card m-2" style="height:100px;width:400px;">
                <header class="card-header">
                <p class="card-header-title">
                    Component
                </p>
                <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
                </header>
                <footer class="card-footer">
                </footer>
            </div>
            <div class="card m-2" style="height:100px;width:400px;">
                <header class="card-header">
                <p class="card-header-title">
                    Component Component Component
                </p>
                <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
                </header>
                <footer class="card-footer">
                </footer>
            </div>
            <div class="card m-2" style="height:100px;width:400px;">
                <header class="card-header">
                <p class="card-header-title">
                    Component
                </p>
                <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
                </header>
                <footer class="card-footer">
                </footer>
            </div>
            <div class="card m-2" style="height:100px;width:400px;">
                <header class="card-header">
                <p class="card-header-title">
                    Component
                </p>
                <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
                </header>
                <footer class="card-footer">
                </footer>
            </div>
            </div>
        
        <!-- <div class="box has-text-centered m-2" style="height:100px;width:400px;">
            <article class="block has-text-centered">
                Very Long Long Name Facebook
            </article>
            <article>
                <a class="has-text-black is-size-4 has-text-centered"><i class="fa-solid fa-file-pen"></i></a>
                <a class="has-text-black is-size-4 has-text-centered"><i class="fa-solid fa-eye"></i></a>
                <a class="has-text-black is-size-4 has-text-centered"><i class="fa-solid fa-copy"></i></a>
            </article>

        </div>
        <div class="box has-text-centered m-2" style="height:100px;width:400px;">
            
        </div>

    <div class="box has-text-centered m-2" style="height:100px;width:400px;">Name | URL | Open</div>
    <div class="box has-text-centered m-2" style="height:100px;width:400px;">Name | URL | Open</div>
    <div class="box has-text-centered m-2" style="height:100px;width:400px;">Name | URL | Open</div>
    <div class="box has-text-centered m-2" style="height:100px;width:400px;">Name | URL | Open</div>
    <div class="box has-text-centered m-2" style="height:100px;width:400px;">Name | URL | Open</div>
    <div class="box has-text-centered m-2" style="height:100px;width:400px;">Name | URL | Open</div> -->        

    </div>

</div>
<div class="modal" id="addPassModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <div class="is-size-4 has-text-weight-bold">Create Entry</div> 
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="is-size-6 has-text-weight-bold">Name</label>
        <div class="control">
          <input class="input is-small" type="text" id="addPassModalName"></input>
        </div>
      </div>
      <div class="field">
        <label class="is-size-6 has-text-weight-bold">Username</label>
        <div class="control">
          <input class="input is-small" type="text" id="addPassModalUname"></input>
        </div>
      </div>
      <div class="field">
        <label class="is-size-6 has-text-weight-bold">Password</label>
        <div class="control">
          <input class="input is-small" type="password" id="addPassModalPWD"></input>
        </div>
      </div>
      <div class="field">
        <label class="is-size-6 has-text-weight-bold">Confirm Password</label>
        <div class="control">
          <input class="input is-small" type="password"  id="addPassModalPWD2"></input>
        </div>
      </div>
      <div class="field">
        <label class="is-size-6 has-text-weight-bold">URL</label>
        <div class="control">
          <input class="input is-small" type="password" id="addPassModalURL"></input>
        </div>
      </div>
      <div class="field">
        <label class="is-size-6 has-text-weight-bold">Label</label>
        <div class="control">
          <input class="input is-small" type="password" id="addPassModalLabel"></input>
        </div>
      </div>
      
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" id="addPassSaveBtn">Save</button>
      <button class="button" id="addPassCancelBtn">Cancel</button>
    </footer>
  </div>
</div>

<div class="modal" id="editPassModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <div class="is-size-4 has-text-weight-bold">Edit Entry</div> 
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="is-size-6 has-text-weight-bold">Name</label>
        <div class="control">
          <input class="input is-small" type="text" id="editPassModalName"></input>
        </div>
      </div>
      <div class="field">
        <label class="is-size-6 has-text-weight-bold">Username</label>
        <div class="control">
          <input class="input is-small" type="text" id="editPassModalUname"></input>
        </div>
      </div>
      <div class="field">
        <label class="is-size-6 has-text-weight-bold">Password</label>
        <div class="control">
          <input class="input is-small" type="password" id="editPassModalPWD"></input>
        </div>
      </div>
      <div class="field">
        <label class="is-size-6 has-text-weight-bold">Confirm Password</label>
        <div class="control">
          <input class="input is-small" type="password"  id="editPassModalPWD2"></input>
        </div>
      </div>
      <div class="field">
        <label class="is-size-6 has-text-weight-bold">URL</label>
        <div class="control">
          <input class="input is-small" type="password" id="editPassModalURL"></input>
        </div>
      </div>
      <div class="field">
        <label class="is-size-6 has-text-weight-bold">Label</label>
        <div class="control">
          <input class="input is-small" type="password" id="addPassModalLabel"></input>
        </div>
      </div>
      
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" id="editPassSaveBtn">Save</button>
      <button class="button is-danger" id="editPassDeleteBtn">Delete</button>
      <button class="button" id="editPassCancelBtn">Cancel</button>
    </footer>
  </div>
</div>
<script src="/js/dashboard.js"></script>



