<div class="columns">
    <div class="column is-1">
        <ul class="menu-list">
            <li><a class="has-text-white is-size-4 has-text-centered"><i class="fa-solid fa-circle-plus"></i></a></li>
            <li><a class="has-text-white is-size-4 has-text-centered"><i class="fa-solid fa-floppy-disk"></i></a></li>  
            <li><a class="has-text-white is-size-4 has-text-centered"><i class="fa-solid fa-flask-vial"></i></a></li>
            
           <!-- <li><a class="has-text-white is-size-4 has-text-centered"><i class="fa-solid fa-file-pen"></i></a></li> -->
           <!-- <li><a class="has-text-white is-size-4 has-text-centered"><i class="fa-sharp fa-solid fa-share-nodes"></i></a></li> -->
        </ul>
    </div>
 f
    <div class="column hero-body has-background-grey-lighter is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-center" style="height:800px;width:100%;">

        <div class="box has-text-centered m-2" style="height:200px;width:200px;">
            <article class="block has-text-centered">
                Very Long Long Name Facebook
            </article>
            <article>
                <a class="has-text-black is-size-4 has-text-centered"><i class="fa-solid fa-file-pen"></i></a>
                <a class="has-text-black is-size-4 has-text-centered"><i class="fa-solid fa-eye"></i></a>
                <a class="has-text-black is-size-4 has-text-centered"><i class="fa-solid fa-copy"></i></a>
            </article>

        </div>
        <div class="box has-text-centered m-2" style="height:200px;width:200px;">Name | URL | Open</div>
        <div class="box has-text-centered m-2" style="height:200px;width:200px;">Name | URL | Open</div>
        

    </div>

</div>



