<h2 class="is-centered has-text-weight-bold">
    Log In
</h2>

<form class="box">
<div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left">
        <input class="input" type="email" placeholder="email@example.com">
    </div>
</div>

<div class="field">
    <label class="label">Password</label>
    <div class="control">
        <input class="input" type="password" placeholder="********">
    </div>
</div>
<button class="button">Sign in</button>
</form>
