<div class="box" style="height:350px; max-width:450px;margin-left:auto;margin-right:auto;margin-top:50px;">
<div class="is-size-4 has-text-black has-text-centered"> Log In</div>
    <form class="form login-form">
        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input class="input" type="username" id="username-login">
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" id="password-login">
            </div>
        </div>
        <button class="button is-block is-fullwidth is-black has-text-white" type="submit">Log In</button>
    </form>
</div>
<script src="/js/login.js"></script>
