<section class="container-fluid" style="min-height:600px;">
<div class="box" style="height:350px; max-width:450px;margin-left:auto;margin-right:auto;margin-top:50px;">
    <div class="is-size-4 has-text-black has-text-centered">Sign Up</div>
        <form class="form signup-form">
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    <input class="input" type="username" id="username-signup">
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" type="password" id="password-signup1">
                </div>
            </div>

            <div class="field">
                <label class="label">Confirm Password</label>
                <div class="control">
                    <input class="input" type="password" id="password-signup2">
                </div>
            </div>
            <button class="button is-block is-fullwidth is-black has-text-white" type="submit">Sign Up</button>
        </form>
        <div class="has-text-white" id="signupMessage"></div>
    </div>
</section>
<script src="/js/signup.js"></script>