<h2 class="is-centered has-text-weight-bold">
    User Info
</h2>

{{#each entry}}
<div class="card">
    <div class="card-content">
        <div class="content">
        github
        </div>
    </div>
    <footer class="card-footer">
        <a href="#" class="card-footer-item">View</a>
        <a href="#" class="card-footer-item">Edit</a>
        <a href="#" class="card-footer-item">Delete</a>
    </footer>
</div>
{{/each}}